
*.sqlite
*.json
*.suo
*.db
*.ipch
Data/Dreadfire.vcxproj
Data/Dreadfire.vcxproj.user
*.obj
*.log
Data/x64/Debug/Dreadfire.exe
*.tlog
*.lastbuildstate
Data/x64/Debug/Dreadfire.tlog/Dreadfire.lastbuildstate
*.idb
*.pdb
*.opendb
